/* Layout */
@media (max-width: 900px) {
body {
    min-width: 630px;
    background-color: #d9c2fa;
}

#container {
    padding-left: 200px;
    padding-right: 200px;
}

#container .column {
    position: relative;
    float: left;
}

#center {
    padding: 10px 20px;
    width: 100%;
}

#left {
    width: 180px;
    padding: 0 10px;
    right: 240px;
    margin-left: -100%;
}

#right {
    width: 130px;
    padding: 0 10px;
    margin-right: -100%;
}

/* IE hack */
* html #left {
    left: 150px;
}

/* Make the columns the same height as each other */
#container {
    overflow: auto;
}

#container .column {
    padding-bottom: 1001em;
    margin-bottom: -1000em;
}


/* Aesthetics */
body {
    margin: 0;
    padding: 0;
    font-family:Sans-serif;
    line-height: 1.5em;
}

p {
  color: #000e2a;
  text-align: left;
  font-family: 'Bookman Old Style', serif;
}

td {
    color: #000e2a;
    text-align: left;
    font-family: 'Bookman Old Style', serif;
}
  
  li a:hover:not(.active) {
    background-color: #8bb4d0;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: white;
    text-decoration: none;
}

#header, #footer {
    font-size: large;
    padding: 0.3em;
    background: #8e6bc5;
}

#container .column {
    padding-top: 1em;
}

* {
    box-sizing: border-box; /*kolom utamanya*/
  }

  body {
    font-family: 'Bookman Old Style', serif;
    
  }

  nav {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    float: left;
    width: 23%;
    height: 496px;  
    background: #000e2a;
    padding: 20px;
    overflow-y: auto;
    padding: 20px 10px 20px 40px;
  }
  
  .nav a {
    background-color: #8e6bc5; /* warna buttonnya*/
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    border: 1px solid #8bb4d0;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    display: block;
  }
  
  
  .dropdown .dropbtn {
    background-color: #8e6bc5; /* warna buttonnya*/
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    border: 1px solid #8bb4d0;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    display: block;
  }
  
  .nav a:hover, .dropdown:hover .dropbtn {
    background-color: #8bb4d0;
  }
  
  .dropdown-content {
    display: none;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    background-color: #8e6bc5; /* warna buttonnya*/
    border: 1px solid #8bb4d0;
    font-size: 12px;
    min-width: 245px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    border: 1px solid #8bb4d0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #8bb4d0;
    border: 1px solid #8bb4d0;
    color: black;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-btn{
    background-color: #8e6bc5; /* warna buttonnya*/
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    border: 1px solid #8bb4d0;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 90%;
    display: block;
  }
  
  .dropdown-btn:hover {
    color: white;
    background-color: #8bb4d0;
  }
  
  .dropdown-container {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8e6bc5;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
  }
  
  li a:hover {
    background-color: #000e2a;
  }
  
  .text{
    color: white;
    font-size: 20px;
  }
  
  .button-nav .button {
    background-color:#8e6bc5; /* warna buttonnya*/
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    border: 1px solid #8bb4d0;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 90%;
    display: block;
  }
  
  .button-nav .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .button-nav .button:hover {
    background-color: #8bb4d0;
    
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }

.konten{
    float: left;
    padding: 30px;
    width: 1051px;
    background-color: #d9c2fa;
    height: 496px;
    border: 5px dotted #8bb4d0;
    overflow: scroll;
}
}