/* Layout */

body {
    min-width: 630px;
    background-color: #000e2a;
}

.ki-kd{
	text-align: center;
	background-color: #000e2a;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.materi{
	text-align: center;
	background-color: #000e2a;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.tentang{
	text-align: center;
	background-color: #000e2a;
	height: 275px;
	width: 250px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}